body{
	background-color: #232323;
	margin:0;
	font-family: "Avenir";
}
.blocks{
	width:30%;
	margin:1.66%;
	background: red;
	padding-bottom:30%;
	float:left;
	border-radius: 15%;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
}
#grid{
	max-width: 600px;
	margin: 20px auto;

}

h1{
	color:white;
	text-align:center;
	background-color: steelblue;
	margin:0;
	font-weight: normal; 
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 20px;

}
#line{
	background-color: white;
	text-align: center;
	color:black;
}
#nRn{
	font-size: 48px;
}
button{
	border: none;
	background: none;
	font-family: "Avenir";
	font-size: inherit;
	text-transform: uppercase;
	font-weight:600;
	color:steelblue;
	letter-spacing: 1px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	height: 100%;
	outline: none;
	
}
#message{
	display: inline-block;
	width:20%;
}
.selected{
	background-color: steelblue;
	color:white;
}
button:hover{
	color:white;
	background-color: steelblue;
}
.change{
	font-family: "Avenir";
	font-size: 17px;
}